 $primary: #15363b;

 @font-face {
     font-family: 'Sinkin Sans-black';
     src: url(../fonts/SinkinSans-800Black.otf);
 }

 @font-face {
     font-family: 'Sinkin Sans-light-300';
     src: url(../fonts/SinkinSans-300Light.otf);
 }

 @font-face {
     font-family: 'Sinkin San';
     src: url(../fonts/SinkinSans-400Regular.otf);
 }

 .sinking-bold {
     font-family: 'Sinkin Sans-black';
 }

 .sinking {
     font-family: 'Sinkin San';
 }

 .text-theme {
     color: $primary;
 }

 .steps {
     position: relative;
     overflow: hidden;

     .bgPhoto {
         position: absolute;
         right: 1%;
         bottom: -14px;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         pointer-events: none;
         width: 47%;

         @media(max-width:768px) {
             width: 65%;
         }

         @media(max-width:600px) {
             right: -10px;
             bottom: -14px;
             width: 100%;
         }
     }


 }

 .sinking-light {
     font-family: 'Sinkin Sans-light-300';
 }

 body {
     font-family: 'Sinkin San';
 }

 .linkUp {
     @media (max-width:600px) {
         .container {
             padding: 0;
         }
     }

     .links {
         color: #fff;
         display: flex;
         justify-content: space-between;

         @media (max-width:600px) {
             display: flex;
             align-items: center;
         }

         a {
             color: #fff;
             font-family: 'Sinkin Sans-light-300';
             text-decoration: none;
             margin: 0 20px;
             text-align: center;

             @media (max-width:600px) {
                 margin: 0 4px;
                 font-size: 12px;
             }

             &:hover {
                 color: #ffdd6f;
             }
         }
     }
 }


 .bg-theme {
     background: $primary;
 }

 .lh {
     @media(max-width:600px) {
         line-height: 1.2 !important;
     }
 }

 .textAdjust {
     position: absolute;
     min-width: 319px;
     bottom: 18px;
     font-size: 12px;
     color: #003B4D;

     @media(max-width:600px) {
         position: unset;
         line-height: 0.4 !important;
     }
 }

 .breadcrumb {
     //  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 48%, rgba(0, 0, 0, .2) 100%), url('../images/London-Panoramic-2-2.jpg');
     min-height: 200px;
     background-attachment: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     position: relative;
     overflow: hidden;

     &.imageContent {
         min-height: 230px;
         background-attachment: fixed;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #fff;

         .cover {
            z-index: -1;
            pointer-events: none;
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             @media(max-width:768px){
                 left: unset;
             }
         }

         // background-size: contain;
         //  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 48%, rgba(0, 0, 0, .2) 100%), url('../images/contact.jpg');

     }

     .inner {
         h2 {
             font-family: 'Sinkin Sans-black';
         }

         small {
             font-family: 'Sinkin Sans-light-300';
         }

         a {
             text-decoration: none;
             color: #fff;
         }
     }
 }

 .infoBox {
     .box {
         padding: 30px;
         background: #DDDDDD;
     }
 }

 .siteHeader {
     .nav-item {
         .nav-link {
             text-transform: capitalize;
             font-weight: bold;
             font-family: 'Sinkin Sans-light-300';
             font-size: 16px;
             color: $primary;
             padding: 10px 15px;

             &:hover {
                 color: #e96b56;
             }
         }
     }

     .navCustomRight {
         display: flex;
         justify-content: space-between;
         width: 80%;

         @media (max-width:1200px) {
             width: 100%;
         }

         .nav-item {

             &.simple-link {
                 .nav-link {
                     text-transform: capitalize;
                     font-size: 16px;
                     color: #17404d;
                     padding: 10px 15px;

                     &:hover {
                         background-color: #00414C !important;
                         color: rgb(255, 255, 255) !important;
                     }
                 }
             }

             .nav-link {
                 text-transform: capitalize;
                 font-size: 16px;
                 color: #ffffff;
                 padding: 10px 15px;

                 &:hover {
                     background-color: #e96b56 !important;
                     color: rgb(255, 255, 255) !important;
                 }
             }
         }
     }
 }

 #navbarNavDropdown {
     @media (max-width:768px) {
         padding-bottom: 12px;
     }
 }

 .navCustom {
     .nav-item {

         .nav-link {
             font-family: 'Sinkin San';
             padding: 0 13px;
             color: #15363b;
             font-weight: normal;

             @media(max-width:768px) {
                 padding: 0 0 0;
             }
         }


         &:not(:last-child) {
             .nav-link {
                 @media(min-width:1024px) {
                     border-right: 1px solid $primary;
                 }

             }
         }

     }
 }

 .leftBlock {
     display: none;

     @media(min-width:800px) {
         display: block;
     }
 }

 .arrowDown {
     position: absolute;
     bottom: 56px;
     right: 15px;
     pointer-events: none;
 }

 .banner {
     height: 90vh;
     overflow: hidden;
     position: relative;

     .bannerPhoto {
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         pointer-events: none;

         @media(max-width:768px) {
             left: -99%;
         }

         @media(max-width:600px) {
             left: -153%;
         }

         @media(max-width:600px) {
             left: -178%;
         }
     }


     .quote {
         position: absolute;
         bottom: 22px;
         font-size: 18px;
         color: #fff;
         font-family: 'Sinkin Sans-black';
         border: 1px solid #fff;
         padding: 8px 23px;
         border-radius: 22px;
         text-transform: uppercase;
         font-weight: bold;
         text-decoration: none;
         right: 22px;


         &:hover {
             background-color: #e96b56 !important;
             color: #fff;
         }
     }
 }


 .dropdown-item {
     &:hover {
         background-color: $primary;
         color: #f9f9f9;
     }
 }

 .featured {

     .box {
         position: relative;
         overflow: hidden;

         img {
             filter: brightness(0.7);
             transition: all 0.4s ease;
             transform: scale(1.3);
         }

         .info {
             font-size: 42px;
             font-weight: bold;
             text-align: center;
             position: absolute;
             width: 100%;
             bottom: 5%;
             color: #ffffff;
             transition: all 0.4s ease;
         }

         &:hover {
             img {
                 transform: scale(1.3) translateX(34px);
                 filter: brightness(1);
             }

             .info {
                 transform: translateY(-20px);
             }
         }
     }
 }

 .steps {
     background-color: #f9f9f9;
 }

 .slideText {
     @media(max-width:600px) {
         h1 {
             text-align: center;
         }

         .para {
             text-align: center;
             font-size: 15px;
         }
     }
 }



 .md-d-none {
     @media(max-width:600px) {
         display: none;
     }
 }

 .sectitle {
     color: $primary;
     font-size: 38px;
     line-height: 1;
     letter-spacing: 0px;
     display: flex;
     flex-direction: column;
     line-height: 0.8;

     span {
         margin-right: 5px;
     }

     @media(max-width:600px) {
         font-size: 25px;
     }
 }

 .projects {
     background-color: #fbf9e9;

     .filter {
         .dropdown {
             outline: 0;

             .btn {
                 &:focus {
                     box-shadow: none !important;
                     outline: 0;
                     background-color: $primary;
                     color: #f9f9f9 !important;
                 }
             }
         }
     }

     .project-box {
         background: #fff;
         transition: all 0.4s ease;

         border-radius: 2px;

         .photo {
             position: relative;
             overflow: hidden;

             img {
                 transition: all 0.4s ease;
             }

             .tag {
                 position: absolute;
                 top: 8px;
                 right: 8px;
                 background: $primary;
                 padding: 3px 5px;
                 font-size: 12px;
                 color: #fff;

             }

             .bottomInfo {
                 position: absolute;
                 bottom: 0;
                 width: 100%;
                 display: flex;
                 justify-content: space-between;
                 padding: 0px 10px 5px;
                 margin: 0;
                 color: #fff;
             }

         }

         .title {

             padding: 12px;
             color: #464444;
             font-weight: bold;
             transition: all 0.4s ease;
         }

         &:hover {
             transform: translateY(-10px);
             box-shadow: 0 3px 23px 9px rgba(33, 33, 34, 0.15) !important;

             .title {
                 color: $primary;

             }

             img {
                 transform: scale(1.1)
             }
         }
     }
 }

 .video-blog {
     background: #2C2C2B;
 }

 .cover-video {
     display: flex;
     padding: 30px;
     width: 100%;
     flex-wrap: wrap;
     column-gap: 20px;


     @media(max-width:768px) {
         flex-direction: column;
     }
 }

 .left {
     flex: 1;
 }

 .right {
     flex: 1;
     display: flex;
     column-gap: 20px;

     @media(max-width:600px) {
         flex-direction: column;
     }

     .top {
         flex: 1;
         display: flex;
         flex-direction: column;
         row-gap: 7px;

         .item {
             flex: 1;
         }
     }

     .bottom {
         flex: 1;
         display: flex;
         flex-direction: column;
         row-gap: 10px;

         .item {
             flex: 1;
         }
     }
 }

 .projectLoader {
     max-height: 600px;
     overflow: auto;

     overflow-x: hidden;
     padding-bottom: 20px;
 }

 .more-project {
     h5 {
         color: #2C2C2B;
     }

     &:hover {
         h5 {
             color: $primary;
         }
     }

 }

 //  footer

 #footer {
     background: #404040;
     padding: 0 0 0px 0;
     font-size: 14px
 }

 #footer .footer-newsletter {
     padding: 50px 0;
     background: #d7d9d0
 }

 #footer .footer-newsletter h4 {
     font-size: 24px;
     margin: 0 0 20px 0;
     padding: 0;
     line-height: 1;
     font-weight: 600
 }

 #footer .footer-newsletter form {
     margin-top: 30px;
     background: #fff;
     padding: 6px 10px;
     position: relative;
     border-radius: 50px
 }

 #footer .footer-newsletter form input[type="email"] {
     border: 0;
     padding: 8px;
     width: calc(100% - 140px)
 }

 #footer .footer-newsletter form input[type="submit"] {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     border: 0;
     background: none;
     font-size: 16px;
     padding: 0 30px;
     margin: 3px;
     background: #e96b56;
     color: #fff;
     transition: 0.3s;
     border-radius: 50px
 }

 #footer .footer-newsletter form input[type="submit"]:hover {
     background: #e6573f
 }

 #footer .footer-top {
     background: #f3f3f3;
     border-top: 1px solid #474747;
     border-bottom: 1px solid #474747;
     padding: 60px 0 30px 0
 }

 #footer .footer-top .footer-info {
     margin-bottom: 30px
 }

 #footer .footer-top .footer-info h3 {
     font-size: 18px;
     margin: 0 0 20px 0;
     padding: 2px 0 2px 0;
     line-height: 1;
     font-weight: 700;
     color: $primary;
 }

 #footer .footer-top .footer-info p {
     font-size: 14px;
     line-height: 24px;
     margin-bottom: 0;
     font-family: "Raleway", sans-serif;

 }

 #footer .footer-top .social-links a {
     font-size: 18px;
     display: inline-block;
     background: $primary;
     color: #fff;
     line-height: 1;
     padding: 8px 0;
     margin-right: 4px;
     border-radius: 50%;
     text-align: center;
     width: 36px;
     height: 36px;
     transition: 0.3s
 }

 #footer .footer-top .social-links a:hover {
     background: #e96b56;

     text-decoration: none
 }

 #footer .footer-top h4 {
     font-size: 16px;
     font-weight: bold;
     color: $primary;

     text-transform: uppercase;
     position: relative;
     padding-bottom: 12px
 }

 #footer .footer-top .footer-links {
     margin-bottom: 30px
 }

 #footer .footer-top .footer-links ul {
     list-style: none;
     padding: 0;
     margin: 0
 }

 #footer .footer-top .footer-links ul i {
     padding-right: 2px;
     color: #ec7f6d;
     font-size: 18px;
     line-height: 1
 }

 #footer .footer-top .footer-links ul li {
     padding: 10px 0;
     display: flex;
     align-items: center
 }

 #footer .footer-top .footer-links ul li:first-child {
     padding-top: 0
 }

 #footer .footer-top .footer-links ul a {
     color: $primary;
     transition: 0.3s;
     display: inline-block;
     text-decoration: none;
     line-height: 1
 }

 #footer .footer-top .footer-links ul a:hover {
     color: #e96b56
 }

 #footer .footer-top .footer-contact {
     margin-bottom: 30px;
     color: $primary;
 }

 #footer .footer-top .footer-contact p {
     line-height: 26px
 }

 #footer .copyright {
     text-align: center;
     padding-top: 30px
 }

 #footer .credits {
     padding-top: 10px;
     text-align: center;
     font-size: 13px;
     color: #fff
 }


 .carousel-dark .carousel-indicators [data-bs-target] {
     background: 0 !important;
     height: 64px;
     width: 84px;

     &:hover {
         opacity: 1;
     }
 }

 .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: 60px;
     left: 0;
     z-index: 2;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     padding: 0;
     margin-left: 0;
     width: 100%;
     list-style: none;
     margin-bottom: 0;

     img {
         border: 2px solid #9f9f9f;
     }
 }