@font-face {
  font-family: 'Sinkin Sans-black';
  src: url(../fonts/SinkinSans-800Black.otf);
}

@font-face {
  font-family: 'Sinkin Sans-light-300';
  src: url(../fonts/SinkinSans-300Light.otf);
}

@font-face {
  font-family: 'Sinkin San';
  src: url(../fonts/SinkinSans-400Regular.otf);
}

.sinking-bold {
  font-family: 'Sinkin Sans-black';
}

.sinking {
  font-family: 'Sinkin San';
}

.text-theme {
  color: #15363b;
}

.steps {
  position: relative;
  overflow: hidden;
}

.steps .bgPhoto {
  position: absolute;
  right: 1%;
  bottom: -14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 47%;
}

@media (max-width: 768px) {
  .steps .bgPhoto {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .steps .bgPhoto {
    right: -10px;
    bottom: -14px;
    width: 100%;
  }
}

.sinking-light {
  font-family: 'Sinkin Sans-light-300';
}

body {
  font-family: 'Sinkin San';
}

@media (max-width: 600px) {
  .linkUp .container {
    padding: 0;
  }
}

.linkUp .links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .linkUp .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.linkUp .links a {
  color: #fff;
  font-family: 'Sinkin Sans-light-300';
  text-decoration: none;
  margin: 0 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .linkUp .links a {
    margin: 0 4px;
    font-size: 12px;
  }
}

.linkUp .links a:hover {
  color: #ffdd6f;
}

.bg-theme {
  background: #15363b;
}

@media (max-width: 600px) {
  .lh {
    line-height: 1.2 !important;
  }
}

.textAdjust {
  position: absolute;
  min-width: 319px;
  bottom: 18px;
  font-size: 12px;
  color: #003B4D;
}

@media (max-width: 600px) {
  .textAdjust {
    position: unset;
    line-height: 0.4 !important;
  }
}

.breadcrumb {
  min-height: 200px;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.breadcrumb.imageContent {
  min-height: 230px;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.breadcrumb.imageContent .cover {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .breadcrumb.imageContent .cover {
    left: unset;
  }
}

.breadcrumb .inner h2 {
  font-family: 'Sinkin Sans-black';
}

.breadcrumb .inner small {
  font-family: 'Sinkin Sans-light-300';
}

.breadcrumb .inner a {
  text-decoration: none;
  color: #fff;
}

.infoBox .box {
  padding: 30px;
  background: #DDDDDD;
}

.siteHeader .nav-item .nav-link {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Sinkin Sans-light-300';
  font-size: 16px;
  color: #15363b;
  padding: 10px 15px;
}

.siteHeader .nav-item .nav-link:hover {
  color: #e96b56;
}

.siteHeader .navCustomRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

@media (max-width: 1200px) {
  .siteHeader .navCustomRight {
    width: 100%;
  }
}

.siteHeader .navCustomRight .nav-item.simple-link .nav-link {
  text-transform: capitalize;
  font-size: 16px;
  color: #17404d;
  padding: 10px 15px;
}

.siteHeader .navCustomRight .nav-item.simple-link .nav-link:hover {
  background-color: #00414C !important;
  color: white !important;
}

.siteHeader .navCustomRight .nav-item .nav-link {
  text-transform: capitalize;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 15px;
}

/* .siteHeader .navCustomRight .nav-item .nav-link:hover {
  background-color: #003C4E !important;
  color: white !important;
} */

@media (max-width: 768px) {
  #navbarNavDropdown {
    padding-bottom: 12px;
  }
}

.navCustom .nav-item .nav-link {
  font-family: 'Sinkin San';
  padding: 0 13px;
  color: #15363b;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navCustom .nav-item .nav-link {
    padding: 0 0 0;
  }
}

@media (min-width: 1024px) {
  .navCustom .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #15363b;
  }
}

.leftBlock {
  display: none;
}

@media (min-width: 800px) {
  .leftBlock {
    display: block;
  }
}

.arrowDown {
  position: absolute;
  bottom: 56px;
  right: 15px;
  pointer-events: none;
}

.banner {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.banner .bannerPhoto {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .banner .bannerPhoto {
    left: -99%;
  }
}

@media (max-width: 600px) {
  .banner .bannerPhoto {
    left: -153%;
  }
}

@media (max-width: 600px) {
  .banner .bannerPhoto {
    left: -178%;
  }
}

.banner .quote {
  position: absolute;
  bottom: 22px;
  font-size: 18px;
  color: #fff;
  font-family: 'Sinkin Sans-black';
  border: 1px solid #fff;
  padding: 8px 23px;
  border-radius: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  right: 22px;
}

.banner .quote:hover {
  background-color: #003C4E !important;
  color: #fff;
}

.btn:hover {
    background-color: #003C4E !important;
    color: #fff;
}

.btn {
    background-color: #003C4E !important;
    border-color: #003C4E !important;
    color: #fff;
}

.dropdown-item:hover {
  background-color: #15363b;
  color: #f9f9f9;
}

.featured .box {
  position: relative;
  overflow: hidden;
}

.featured .box img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.featured .box .info {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.featured .box:hover img {
  -webkit-transform: scale(1.3) translateX(34px);
          transform: scale(1.3) translateX(34px);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.featured .box:hover .info {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.steps {
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .slideText h1 {
    text-align: center;
  }
  .slideText .para {
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .md-d-none {
    display: none;
  }
}

.sectitle {
  color: #15363b;
  font-size: 38px;
  line-height: 1;
  letter-spacing: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.sectitle span {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .sectitle {
    font-size: 25px;
  }
}

.projects {
  background-color: #fbf9e9;
}

.projects .filter .dropdown {
  outline: 0;
}

.projects .filter .dropdown .btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
  background-color: #15363b;
  color: #f9f9f9 !important;
}

.projects .project-box {
  background: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 2px;
}

.projects .project-box .photo {
  position: relative;
  overflow: hidden;
}

.projects .project-box .photo img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.projects .project-box .photo .tag {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #15363b;
  padding: 3px 5px;
  font-size: 12px;
  color: #fff;
}

.projects .project-box .photo .bottomInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 5px;
  margin: 0;
  color: #fff;
}

.projects .project-box .title {
  padding: 12px;
  color: #464444;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.projects .project-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 3px 23px 9px rgba(33, 33, 34, 0.15) !important;
          box-shadow: 0 3px 23px 9px rgba(33, 33, 34, 0.15) !important;
}

.projects .project-box:hover .title {
  color: #15363b;
}

.projects .project-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video-blog {
  background: #2C2C2B;
}

.cover-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 768px) {
  .cover-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 600px) {
  .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.right .top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}

.right .top .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right .bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.right .bottom .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projectLoader {
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.more-project h5 {
  color: #2C2C2B;
}

.more-project:hover h5 {
  color: #15363b;
}

#footer {
  background: #404040;
  padding: 0 0 0px 0;
  font-size: 13px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #d7d9d0;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e6573f;
}

#footer .footer-top {
  background: #f3f3f3;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #15363b;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  text-align: justify;

  /* font-family: "Raleway", sans-serif; */
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #15363b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #e96b56;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #15363b;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #15363b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #e96b56;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  color: #15363b;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background: 0 !important;
  height: 64px;
  width: 84px;
}

.carousel-dark .carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin-left: 0;
  width: 100%;
  list-style: none;
  margin-bottom: 0;
}

.carousel-indicators img {
  border: 2px solid #9f9f9f;
}
/*# sourceMappingURL=app.css.map */

